{% extends 'base.html.twig' %}

{% block stylesheets1 %}
    <link rel="stylesheet" href="/css/invoice_add.css">
{% endblock %}

{% block content %}
    
    <h1>Choose positions and its quantity: </h1>

    {{ form(form_position) }}

  {#  <button type='button' id='clear'><a href="{{ path ('invoice_add') }}"> CLEAR the form!!  </a></button><br><br>   #}
  {# TODO: it will be better to add clearing cross-button for Quantity-field as for Select2-fields, but it's for future study! #}

    {% if integer == false and  note_position != 2 %}
        <div class='note' >
            TYPE INTEGER NUMBER !! <br> 
        </div>
    {% endif %}

    {% if zero == 0 and  note_position != 2 %}
        <div class='note' >
            TYPE MORE THAN 0 !! <br> 
        </div>
    {% endif %}

    {% if note_position == 0 %}
        <div class='note' >
            CHOOSE THE POSITION !! <br> 
        </div>
    {% endif %}

    {% if note_position == 2 %}
        <div class='note' >
            THE POSITION IS ALREADY IN THE TABLE!!  <br> 
            IF YOU WANT TO CHANGE THE QUANTITY - MAKE IT IN THE TABLE!! <br> 
        </div>
    {% endif %}

            
        <table>

            <tr>
                <th>ID of Position</th><th>Name</th><th>Value</th><th>DELETE -1 </th><th>Quantity</th><th> ADD + 1 </th> <th>Sum</th> <th> Delete the whole position </th> 
            </tr>
            
        {% set sum = 0 %}

        {% for invoicePosition in invoicePositionsArray %}   
            <tr>
                <td> {{invoicePosition.position.id}} </td>
                <td> {{invoicePosition.position.name}} </td>
                <td> {{invoicePosition.position.value}}</td>

                <td>
                    <a class="button" href="{{ path('invoice_add_position_delete',  {quantity: invoicePosition.quantity, id_position: invoicePosition.getPosition.getId}) }}"><span id="plus_minus"> &#8722   </span> </a>  
                </td> 
                
                <td> {{invoicePosition.quantity}}</td>

                <td> 
                    <a class="button" href="{{ path('invoice_add_position_add', {quantity: invoicePosition.quantity, id_position: invoicePosition.getPosition.getId}) }}"> <span id="plus_minus"> +  </span> </a>  
                </td> 

                <td> 
                    {{invoicePosition.position.value * invoicePosition.quantity}} 
                    {% set sum = sum + invoicePosition.position.value * invoicePosition.quantity %}
                </td>

                <td> 
                    <a class="button" href="{{ path('invoice_add_position_delete_whole',  {id_position: invoicePosition.getPosition.getId}) }}"> <span id="plus_minus"> &#x2718 </span> </a>  
                </td> 

            </tr>
        {% endfor %}

        </table>

        <h4>Total sum: {{sum}}</h4> <br>


    <h1>Add Supplier and Recipient: </h1>
   
    {{form(form)}}   
    
    {% if note_invoice == 0 %}
        <div class='note' >
            INVOICE HAS NOT ADDED!! <br> 
            Recipient or Supplier field CAN'T be empty !!!!!!!!!!!!!!
        </div>

    {% endif %} <br><br>

    {# deleting session variable with array of InvoicePositions objects chosen earlier for creating new Invoice, that is this button clear the table  #}
    <button type='button' id='clear'><a href="{{ path ('invoice_add_clear_all') }}"> CLEAR ALL!!  </a></button><br><br>

    <a class = 'back' href="{{ path('invoices') }}">BACK TO LIST OF INVOICES  !!!!  >>>>></a><br><br>
  
        
{% endblock %}


{#  preventing resubmit after refreshing page!!!
    find the below script here: https://dtbaker.net/files/prevent-post-resubmit.php;
    TODO: another ways to do so for future studiing!!: https://stackoverflow.com/questions/6320113/how-to-prevent-form-resubmission-when-page-is-refreshed-f5-ctrlr/45656609#45656609     #}
{% block javascripts1 %}
    {<script>
        if ( window.history.replaceState ) {     
            window.history.replaceState( null, null, window.location.href );
        }
    </script>   
{% endblock %}  

