{% extends 'base.html.twig' %}

{% block stylesheets1 %}

    <link rel="stylesheet" href="/css/invoice_edit.css">

{% endblock %}

{% block content %}
    
    <h1>Edit Positions in the Invoice with ID {{invoice.id}}: </h1>

    {{form(form_position)}}

    {% if integer == false and  note_position != 2 %}
        <div class='note' >
            TYPE INTEGER NUMBER !! <br> 
        </div>
    {% endif %}

    {% if zero == 0 and  note_position != 2 %}
        <div class='note' >
            TYPE MORE THAN 0 !! <br> 
        </div>
    {% endif %}

    {% if note_position == 1 %}
        <div class='note' >
            CHOOSE THE POSITION !! <br> 
        </div>
    {% endif %}

    {% if note_position == 2 %}
        <div class='note' >
            THE POSITION IS ALREADY IN THE TABLE!!  <br> 
            IF YOU WANT TO CHANGE THE QUANTITY - MAKE IT IN THE TABLE!! <br> 
        </div>
    {% endif %}


    <table>
        <tr>
            <th>ID of Position</th><th>Name</th><th>Value</th><th>DELETE -1 </th><th>Quantity</th><th> ADD + 1 </th> <th>Sum</th> <th> Delete the whole position </th> 
        </tr>
        
    {% set sum = 0 %}
    {% for invoicePosition in invoicePositionsArray %}   
        <tr>
            <td> {{invoicePosition.position.id}} </td>
            <td> {{invoicePosition.position.name}} </td>
            <td> {{invoicePosition.position.value}}</td>

            <td>
                <a class="button" href="{{ path('invoice_edit_position_delete',  {quantity: invoicePosition.quantity, id_position: invoicePosition.getPosition.getId, id_invoice: invoice.id}) }}"><span id="plus_minus"> &#8722   </span> </a>  
            </td> 
                
            <td> {{invoicePosition.quantity}}</td>

            <td> 
                <a class="button" href="{{ path('invoice_edit_position_add', {quantity: invoicePosition.quantity, id_position: invoicePosition.getPosition.getId, id_invoice: invoice.id}) }}"> <span id="plus_minus"> +  </span> </a>  
            </td> 

            <td> 
                {{invoicePosition.position.value * invoicePosition.quantity}} 
                {% set sum = sum + invoicePosition.position.value * invoicePosition.quantity %}
            </td>

            <td> 
                <a class="button" href="{{ path('invoice_edit_position_delete_whole',  {id_position: invoicePosition.getPosition.getId, id_invoice: invoice.id}) }}"> <span id="plus_minus"> &#x2718 </span> </a>  
            </td> 

        </tr>
    {% endfor %}

    </table>

    <h4>Total sum: {{sum}}</h4> 

    {% if note_positions_not_saved == 1 %}
        <div class='note' >
            Your positions were changed!!! Save to DB or skip changes!!! <br> 
        </div>
    {% endif %}

    <button type='button' id='clear'><a href="{{ path ('invoice_edit_clear_all', {id_invoice: invoice.id} ) }}"> SKIP CHANGES IN THE TABLE </a></button>

    <button type='button' id='clear'><a href="{{ path ('invoice_edit_save_positions', {id_invoice: invoice.id} ) }}"> SAVE CHANGES FROM THE TABLE TO DB  </a></button>

    <h1>Edit Supplier and Recipient in the Invoice with ID {{invoice.id}}: </h1>

    {{form(form)}}  



   
    <br><br><a href="{{ path('invoices') }}">BACK TO LIST OF INVOICES !!!!  >>>> <br></a>

{% endblock %} 

{#  preventing resubmit after refreshing page!!!
    find the below script here: https://dtbaker.net/files/prevent-post-resubmit.php;
    TODO: another ways to do so for future studiing!!: https://stackoverflow.com/questions/6320113/how-to-prevent-form-resubmission-when-page-is-refreshed-f5-ctrlr/45656609#45656609     #}
    {% block javascripts1 %}
    {<script>
        if ( window.history.replaceState ) {     
            window.history.replaceState( null, null, window.location.href );
        }
    </script>   
{% endblock %}  



