{% extends 'base.html.twig' %}

{% block stylesheets1 %}

    <link rel="stylesheet" href="/css/invoice_edit1.css">

{% endblock %}

{% block content %}
    <a href="{{ path('invoices') }}">BACK TO ADDING INVOICES >> <br></a>
    <h1>Adding Positions to the Invoice with ID {{invoice.id}}</h1>

    <div id='invoice'>
        <h1>Invoice:</h1>
            Supplier: {{ invoice.supplier }}, <br>  
            Recipient: {{ invoice.recipient }}, <br> 
            
        
        <h1>Positions in the Invoice:</h1>
        <table>
            <tr>
                <th>Position ID</th> <th>Name of the position</th> <th>Value of the position</th> <th>Quantity</th>  <th>DELETE</th> 
                        
                {% for Position in invoicePositions %}
                    <tr>
                        <td>{{Position.getId }}</td>
                        <td>{{Position.getName }}</td>
                        <td>{{Position.getValue}}</td>
                        <td>
                            {% set quantity = 0 %}
                            {% for invoicePosition in Position.getPositionInvoice %}

                                {% set quantity = quantity + invoicePosition.getQuantity %}

                            {% endfor %} {{quantity}}
                        </td>
                        <td>
                            <a class="button" href="{{ path('position_delete', {id_invoice: invoice.id, id_position: Position.getId }) }}"><span id="plus_minus"> &#8722   </span> </a>  
                        </td> 
                    </tr>
                {% endfor %} 
            
        </table><br>

        <h1>Sum: 
                {% set sum = 0 %}
                {% for Position in invoicePositions %}

                    {% set quantity1 = 0 %}
                    {% for invoicePosition in Position.getPositionInvoice %}
                        {% set quantity1 = quantity1 + invoicePosition.getQuantity %}
                    {% endfor %}

                    {% set sum = sum + Position.getValue * quantity1 %}

                {% endfor %} {{sum}}. </h1>

    </div>

    <div id='form'>

        <h1>Filter positions to add:</h1>
        
        {{ form(form) }}

        <button type="button"><a class="button" href="{{ path('invoice_edit', {id_invoice: invoice.id}) }}">RESET</a></button><br>

        {% if positions is not empty  %}
            <h1>Add positions:</h1>
           
            <table>
                <tr>
                    <th>Position ID</th> <th>Name of the position</th> <th>Value of the position</th> <th>ADD</th>
                </tr>
                
                        {% for position in positions %} 
                            <tr>
                                    <td>{{position.id}} </td>
                                    <td>{{position.name}} </td>
                                    <td>{{position.value}}</td>
                                    <td> 
                                        <a class="button" href="{{ path('position_add', {id_invoice: invoice.id, id_position: position.id}) }}"> <span id="plus_minus"> +  </span> </a>  
                                    </td> 
                            </tr>
                        {% endfor %}
            
            </table>

        {% endif %}
    </div>
    <div style='clear:both'></div>

    <br><br> <a href="{{ path('invoices') }}">BACK TO ADDING INVOICES >> <br></a>
  
{% endblock %} 





