{% extends 'base.html.twig' %}

{% block stylesheets1 %}

    <link rel="stylesheet" href="/css/invoice_edit.css">

{% endblock %}

{% block content %}
    
    <h1>Edit Positions in the Invoice with ID {{invoice.id}}: </h1>

    {{form(form_position)}}

    <table>
        <tr>
            <th>ID of Position</th><th>Name</th><th>Value</th><th>DELETE -1 </th><th>Quantity</th><th> ADD + 1 </th> <th>Sum</th> <th> Delete the whole position </th> 
        </tr>
        
    {% set sum = 0 %}
    {% for invoicePosition in invoicePositionsArray %}   
        <tr>
            <td> {{invoicePosition.position.id}} </td>
            <td> {{invoicePosition.position.name}} </td>
            <td> {{invoicePosition.position.value}}</td>

            <td>
                <a class="button" href="{{ path('invoice_edit_position_delete',  {quantity: invoicePosition.quantity, id_position: invoicePosition.getPosition.getId, id_invoice: invoice.id}) }}"><span id="plus_minus"> &#8722   </span> </a>  
            </td> 
                
            <td> {{invoicePosition.quantity}}</td>

            <td> 
                <a class="button" href="{{ path('invoice_edit_position_add', {quantity: invoicePosition.quantity, id_position: invoicePosition.getPosition.getId, id_invoice: invoice.id}) }}"> <span id="plus_minus"> +  </span> </a>  
            </td> 

            <td> 
                {{invoicePosition.position.value * invoicePosition.quantity}} 
                {% set sum = sum + invoicePosition.position.value * invoicePosition.quantity %}
            </td>

            <td> 
                <a class="button" href="{{ path('invoice_edit_position_delete_whole',  {id_position: invoicePosition.getPosition.getId, id_invoice: invoice.id}) }}"> <span id="plus_minus"> &#x2718 </span> </a>  
            </td> 

        </tr>
    {% endfor %}

    </table>

    <h4>Total sum: {{sum}}</h4> 

    {% if note_positions_not_saved == 1 %}
        <div class='note' >
            Your positions were changed!!! Save or skip changes!!! <br> 
        </div>
    {% endif %}

    <button type='button' id='clear'><a href="{{ path ('invoice_edit_clear_all', {id_invoice: invoice.id} ) }}"> SKIP CHANGES  </a></button>

    <button type='button' id='clear'><a href="{{ path ('invoice_edit_clear_all', {id_invoice: invoice.id} ) }}"> SAVE CHANGES  </a></button>

    <h1>Edit Supplier and Recipient in the Invoice with ID {{invoice.id}}: </h1>
   
    <br><br><a href="{{ path('invoices') }}">BACK TO LIST OF INVOICES !!!!  >>>> <br></a>

{% endblock %} 





