{% extends 'base1.html.twig' %}

{% block stylesheets1 %}
    <link rel="stylesheet" href="/css/invoices1.css">
{% endblock %}

{% block content %}
    
    <h1>List of Invoices</h1>
    Choose invoices by:

        {{form(form)}}

    <button type="button" id='all'><a class="button" href="{{ path('invoices') }}">Show all invoices</a></button>

            <table>
                <tr>
                    <th>ID of Invoice</th><th>Supplier</th><th>Recipient</th><th>Sum</th><th>ADD Positions</th>
                </tr>
                
                {% for invoice in invoices %}   {# TODO: risk 500??? , !!!!!pagination??? #}
                    <tr>
                        <td> {{invoice.id}} </td>
                        <td> {{invoice.supplier.name}} </td>
                        <td> {{invoice.recipient.name}} {{invoice.recipient.family}}</td>
                        <td> 
                           
                            {% set sum = 0 %}

                            {% for invoicePosition in invoice.getInvoicePosition %}  
                               {% set sum = sum + invoicePosition.getQuantity * invoicePosition.getPosition.getValue %}
                            {% endfor %} 

                            
                        {# version with iteration on all positionInvoices - not good at all:

                            {% for positionInvoice in positionInvoices %}   TODO: risk 500 ???
                                {% if invoice == positionInvoice.getInvoice %}                                  
                                    {% set sum = sum + positionInvoice.getQuantity * positionInvoice.getPosition.getValue %}
                                {% endif %}
                            {% endfor %}     #}
                            
            
                            {{sum}}
   
                        </td>
                        <td><a href="{{ path('invoice_edit', {id_invoice: invoice.id}) }}">edit the invoice  >></a></td>
                    </tr>
                {% endfor %}   
            </table>
       
        
{% endblock %}


